In [1]:
import pandas as pd
import json

In [2]:
parks_df = pd.read_csv('National_Parks_Final_Project/Resources/national_parks.csv')
parks_df.head()

,Park Code,Park Name,State,Acres,Latitude,Longitude,Rank,Visitors,Percentage
0,ACAD,Acadia,ME,47390,44.35,-68.21,7,3437286,0.0378
1,ARCH,Arches,UT,76519,38.68,-109.57,17,1659702,0.0182
2,BADL,Badlands,SD,242756,43.75,-102.50,28,970998,0.0107
3,BIBE,Big Bend,TX,801163,29.25,-103.25,44,463832,0.0051
4,BISC,Biscayne,FL,172924,25.65,-80.08,30,708522,0.0078

In [3]:
parks_df = parks_df.set_index('Park Name')
parks_df.head()

,Park Code,State,Acres,Latitude,Longitude,Rank,Visitors,Percentage
Park Name,,,,,,,,
Acadia,ACAD,ME,47390,44.35,-68.21,7,3437286,0.0378
Arches,ARCH,UT,76519,38.68,-109.57,17,1659702,0.0182
Badlands,BADL,SD,242756,43.75,-102.50,28,970998,0.0107
Big Bend,BIBE,TX,801163,29.25,-103.25,44,463832,0.0051
Biscayne,BISC,FL,172924,25.65,-80.08,30,708522,0.0078

In [4]:
species_df = pd.read_csv('National_Parks_Final_Project/Resources/clean_species.csv')
species_df.head()

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Occurrence,Nativeness,Conservation Status,Park Code
0,ACAD-1000,Acadia,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Present,Native,Least Concern,ACAD
1,ACAD-1001,Acadia,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Present,Native,Least Concern,ACAD
2,ACAD-1002,Acadia,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Present,Not Native,Species of Concern,ACAD
3,ACAD-1003,Acadia,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Not Confirmed,Native,Endangered,ACAD
4,ACAD-1005,Acadia,Mammal,Carnivora,Felidae,Lynx canadensis,Canada Lynx,Not Confirmed,Native,Least Concern,ACAD

In [5]:
parks_data = parks_df.to_json(orient='index')
parsed = json.loads(parks_data)
parks_data = json.dumps(parsed, indent=4)

In [6]:
with open("National_Parks_Final_Project/Dashboard/parks_data.json", "w") as outfile:
    outfile.write(parks_data)

In [7]:
species_data = species_df.to_json(orient='records')
parsed = json.loads(species_data)
species_data = json.dumps(parsed, indent=4)

In [8]:
with open("National_Parks_Final_Project/Dashboard/species_data.json", "w") as outfile:
    outfile.write(species_data)

In [9]:
table_df = species_df.drop(columns = ['Species ID', 'Park Code', 'Order', 'Family', 'Occurrence'])
table_df.head()

,Park Name,Category,Scientific Name,Common Names,Nativeness,Conservation Status
0,Acadia,Mammal,Alces alces,Moose,Native,Least Concern
1,Acadia,Mammal,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Native,Least Concern
2,Acadia,Mammal,Canis latrans,"Coyote, Eastern Coyote",Not Native,Species of Concern
3,Acadia,Mammal,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Native,Endangered
4,Acadia,Mammal,Lynx canadensis,Canada Lynx,Native,Least Concern

In [10]:
table_df = table_df[['Common Names', 'Scientific Name', 'Category', 'Nativeness', 'Conservation Status', 'Park Name']]
table_df.head()

,Common Names,Scientific Name,Category,Nativeness,Conservation Status,Park Name
0,Moose,Alces alces,Mammal,Native,Least Concern,Acadia
1,"Northern White-Tailed Deer, Virginia Deer, Whi...",Odocoileus virginianus,Mammal,Native,Least Concern,Acadia
2,"Coyote, Eastern Coyote",Canis latrans,Mammal,Not Native,Species of Concern,Acadia
3,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Canis lupus,Mammal,Native,Endangered,Acadia
4,Canada Lynx,Lynx canadensis,Mammal,Native,Least Concern,Acadia

In [12]:
table_data = table_df.to_json(orient='records')
parsed = json.loads(table_data)
table_data = json.dumps(parsed, indent=4)

In [13]:
with open("National_Parks_Final_Project/Dashboard/table_data.json", "w") as outfile:
    outfile.write(table_data)

In [19]:
category_list = table_df['Category'].unique().tolist()

In [20]:
category_data = json.dumps(category_list)
category_data

'["Mammal", "Bird", "Reptile", "Amphibian", "Fish", "Vascular Plant", "Insect", "Nonvascular Plant", "Invertebrate", "Crab/Lobster/Shrimp", "Slug/Snail", "Spider/Scorpion", "Algae", "Fungi"]'

In [21]:
with open("National_Parks_Final_Project/Dashboard/category_data.json", "w") as outfile:
    outfile.write(category_data)